<script setup lang="ts">
import ForceGraph3D from "3d-force-graph";
import * as THREE from "three";
import { GLTF, GLTFLoader } from "three/examples/jsm/loaders/GLTFLoader";
import { CSS2DRenderer, CSS2DObject } from 'three/examples/jsm/renderers/CSS2DRenderer.js';
import SpriteText from "three-spritetext"; // threejs的精灵标签，用于文字的展示
import { EffectComposer } from "three/examples/jsm/postprocessing/EffectComposer.js";
import { RenderPass } from "three/examples/jsm/postprocessing/RenderPass.js";
import { OutlinePass } from "three/examples/jsm/postprocessing/OutlinePass.js";
import { ShaderPass } from "three/examples/jsm/postprocessing/ShaderPass.js";
import { FXAAShader } from "three/examples/jsm/shaders/FXAAShader.js";
import {
  OrbitControls
} from 'three/addons/controls/OrbitControls.js';
import {modelFadeIn,modelFadeOut, tagFadeOut, tagFadeIn} from "@/utils/threeMaterial/tween"
import {AeroSphereShader,GlowSphereShader,AureoleShader} from "@/utils/threeMaterial"
import {ref, reactive, getCurrentInstance} from "vue";

setTimeout(()=>{
   // 创建场景、相机和渲染器
      var scene = new THREE.Scene();
      var camera = new THREE.PerspectiveCamera(100, window.innerWidth / window.innerHeight, 0.1, 1000);
      var renderer = new THREE.WebGLRenderer({ logarithmicDepthBuffer: true });
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.getElementById('a1').appendChild(renderer.domElement);

      // 创建立方体
      var geometry = new THREE.BoxGeometry(1, 1, 1);
      var material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
      var cube = new THREE.Mesh(geometry, material);
    //  scene.add(cube);

  
      var mesh1 = new THREE.Mesh(new THREE.BoxGeometry(50, 50, 50),
          new THREE.MeshBasicMaterial({color: 0xff0000}));
      var mesh0 = new THREE.Mesh(new THREE.BoxGeometry(40, 50, 50),
        new THREE.MeshBasicMaterial({
          color: 0x0000ff,
          // side: THREE.DoubleSide,
          // transparent: true,
          // opacity: 0.6,
          polygonOffset: true,
        polygonOffsetFactor: 1.0,
        polygonOffsetUnits: 4.0
        }));
      scene.add(mesh1);
      scene.add(mesh0);

      // 设置相机位置
      // camera.position.z = 5;
    var controls = new OrbitControls(camera, renderer.domElement);
      // 渲染循环
      function animate() {
        requestAnimationFrame(animate);
        // mesh1.rotation.x += 0.01;
        controls.update();
         renderer.logarithmicDepthBuffer = false
        // cube.rotation.y += 0.01;
        renderer.render(scene, camera);
      }
      animate();


},3000)


</script>

<template>
<div id="a1" style="width: 1000px;height: 800px"></div>
</template>

<style scoped lang="scss">

</style>
